{
  "semi": true,
  "useTabs": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}